body{
    width: 100%;
    overflow-x: hidden;
    margin: 0%;
}
.top-container{
    text-align: center;
    color: rgb(250, 209, 209);
    background-color: rgb(6, 6, 6);
    margin: 0%;
    padding: 10%;
}

.main-text{
    font-family: "Georgia";
    font-weight: 600;
    font-size: 6.5rem;
}

.side-text{
    font-family: "Georgia";
    font-weight: 100;
    font-size: 1.5rem;
    padding-top: 3%;
}

.languages{
    text-align: center;
    padding: 3% 10% 5%;
}
.languages h1{
    font-size: 4rem;
    padding: 5%;
}


.row{
    padding: 0% 5%;
}

.languages h2{
    font-family: "Georgia";
    font-weight: 600;
}

.description{
    font-family: "Georgia";
    font-weight: 100;
    font-size: 1.5rem;
    
}

.languages p{
    margin-bottom: 0%;
    font-family:"Nunito" ;
    font-weight: 800;
}
.languages td{
    padding-top: 0%;
}
.tag{
    color: rgb(65, 80, 92);
    opacity: 40%;
}

.tag-link{
    color: rgb(65, 25, 25);

}
div{
    text-align: center;
}
.html{
    text-align: center;
    padding: 3% 10% 5%;
}
.html h2{
    font-size: 3rem;
    font-family: "Georgia";
    padding: 5%;
    margin: 0%;
    padding-bottom: 0%;
} 
.html p{
    padding:0% ;
    margin: 0% 0% 25% 0%;
    
    font-family:"Nunito" ;
    font-weight: 800;
}
.html td{
    padding-top: 0%;
}
@media (max-width:580px){
    .main-text{
        font-size: 4rem;
    } 
    .languages h1{
        font-size: 3rem;
    }
    .languages{
        padding: 3% 3% 5%;
    }
}
